ion-card {
    padding: 5px;
}

.titulo-header {
    font-size: 0.9em;
    text-align: center;
    padding: 20px;
}

.titulo-list {
    font-size: 2em;
    padding: 20px 20px 20px 20px;
}

ion-icon {
    font-size: 2em;
    margin-left: 20px;
}

ion-label {
    word-wrap: break-word;
    width: 100%;
}